__pycache__/
*.egg-info/
temp/
nohup.out

__old/*
.cursorignore
*.pdf
*.json
benchmarks/data/large_scale/*.json
benchmarks/results/*
results/benchmark_compat/*
results/benchmark_compat_lm/*
results/benchmark_compat_sq/*
temp/*
*.log
benchmarks/*.parquet
bin/*
.venv/
.env
*.DS_Store


*.npy
*.parquet
*.tsv
*.so
*.o
__pycache__/
*.pyc